body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
}
main {
  max-width: 56rem;
  margin: 0 auto;
  padding: 2rem 2.5rem;
  border-radius: 2rem;
  background: #f6f3f0;
  box-shadow: inset 0 17rem 0 0 #fff;
  box-sizing: border-box;
}
* {
  line-height: 1.5em;
}
.logo {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  height: 12rem;
  align-items: center;
  justify-content: center;
}
ul {
  padding-left: 2rem;
}
h1 {
  margin: 0;
}
h2 {
  font-weight: 600;
  font-size: 1.375rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
pre {
  font-family: ui-monospace, monospace;
  font-size: 14px;
  padding: 1.5rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}
code {
  font-family: inherit;
}
.repo-link {
  display: flex;
  flex-direction: row-reverse;
}
a {
  color: color(display-p3 1 0.4 0);
  text-decoration: none;
}
@media (max-width: 48rem) {
  main {
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1.75rem;
  }
  pre {
    padding: 1.25rem;
    border-radius: 0.375;
  }
}
@media (max-width: 32rem) {
  main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1.5rem;
  }
  pre {
    padding: 1rem;
    border-radius: 0.25rem;
  }
}
@media (max-width: 56rem) {
  main {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
